/vendor/
/node_modules/
.env
.env.backup
.phpunit.result.cache
storage/logs/*.log
storage/cache/*
storage/sessions/*

# Bunlar kullanıcının projesi, framework reposunda olmamalı
/app/
/routes/
/config/
/resources/
/database/
/public/
/tests/
/storage/

# IDE
.idea/
.vscode/
*.swp
*.swo
